.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* padding: 2.083vw 1.042vw; 40px 20px @ 1920px - резиновые отступы */
  overflow-x: hidden;
  background-color: #fcfcfc;
}

.App-main {
  width: 100%;
  /* padding-top: 0.342vw;  */
}

/* На планшетах и мобильных возвращаем фиксированные отступы */
@media (max-width: 1200px) {
  .App {
    /* padding: 30px 20px; */
  }

  
}

@media (max-width: 800px) {
  .App {
    /* padding: 20px 10px; */
  }
  .App-main {
    /* padding-top: 2.042vw; */
    }
}
