@font-face {
  font-family: 'TT Norms';
  src: url('./fonts/TTNormsPro-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'TT Norms', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 500px) {
  body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge legacy */
  }

  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

#root {
  width: 100%;
  min-height: 100vh;
}
